* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./img/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
}

header , footer {
    background-image: linear-gradient(to bottom,#9ca3af,#4b5563);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header {
    box-shadow: 0 2px 5px  gray;
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    z-index: 1;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 2rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3rem 0 2rem;
    min-height: 100%;
    flex-grow: 1;
}

header .title {
    text-align: center;
    font-size: 2rem;
}

.content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 5%;
}

.credit{
    position: fixed;
    bottom: 3rem;
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    background-color: rgba(115, 115, 115, 0.4);
    color: #1e293b;
}

.credit a{
    color: #1e40af;
}

.content > .container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    grid-template-rows: repeat(auto-fit, 375px);
    gap: 2rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}

.book {
    min-height: 375px;
    border-radius: 1rem;
    background-image: linear-gradient(90deg,#9ca3af,#4b5563);
    color: white;
    text-align: center;
    position: relative;
    display: grid;
    gap: 0.2rem;
    box-shadow: 0 2px 5px  #93c5fd;
}

.book .image{
    height: 250px;
    width: 200px;
    margin: 1rem auto 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book .title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 1rem;

}

.book .author,
.book .pages{
    justify-self: start;
    margin-left: 1rem;
}

.add-book {
    min-height: 375px;
    min-width: 250px;
    background-color: rgba(75, 85, 99, 0.5);
    border: #1e40af 1px solid;
    color: #1e40af;
    font-size: 5rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    order: 1;
    box-shadow: 0 2px 5px  #93c5fd;
}

.add-book:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.modal {
    visibility: hidden; 
    position: fixed;
    background-color: rgba(0, 0, 0,0.4);
    min-height: 100vh;
    width: 100%;

}

.active {
    visibility: visible;
}

.modal > .form {
    border: 1px solid #9ca3af;
    box-shadow: 2px 2px 5px  gray;
    border-radius: 1rem;
    padding: 0 0.1rem 0.2rem;
    width: 250px;
    background-color: #9ca3af;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

fieldset {
    display: grid;
    gap: 1rem;
    border-radius: 1rem;
}

.submit-btn {
    border-radius: 0.5rem;
    border: 1px solid #4b5563;
    height: 2rem;
    background-color: #4b5563;
    color: white;
}

.close-modal {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 1.5rem;
}

.close-modal:hover {
    cursor: pointer;
}

.delete-book {
    background-image: url(/img/icons/trash-can-outline.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.delete-book:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.book .read {
    background-image: linear-gradient(180deg, #93c5fd, #1e40af);
    margin: 0 3rem 0.5rem;
    padding: 0 1rem;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

.book .read:hover {
    cursor: pointer;
}